body {
  margin: 0;
  padding: 0;
  font-family: 'roboto mono', sans-serif;
  /* height: 100%; */
  scroll-behavior: smooth;
  --pure-white: #fff;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #212121 inset;
  box-shadow: 0 0 0 30px #212121 inset;
  color: #fff !important;
}

.main-page {
  width: 100%;
  height: calc(100vh);
  background-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.transition-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 130px);
}

.transition-wrapper .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}